:root {
    --link-color: #000000; /* Цвет ссылок в светлой теме */
    --text-color: #000000; /* Основной цвет текста в светлой теме */
    background-color: #ffffff;
  }
  
  .dark-mode {
    --link-color: #ffffff; /* Цвет ссылок в тёмной теме */
    --text-color: #ffffff; /* Основной цвет текста в тёмной теме */
    background-color: #01263f;
  }
  
  body, .dark-mode {
    color: var(--text-color); /* Использование переменной для цвета текста */
  }
  
  /* Стили для ссылок */
  a {
    color: var(--link-color); /* Цвет ссылок будет зависеть от темы */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .btn-danger1 {
    margin: 2px;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 9px;
    border: 2px solid cornflowerblue;
    border-radius: 17px;
     background: linear-gradient(135deg,#123c63 0%,#0a243d 50%, #291919 100%); 
    background-size: 200% 200%;
    animation: marbleGradientAnimation 5s ease infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .btn-danger1:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(500px) translateZ(20px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8), inset 0px -3px 12px rgba(255, 255, 255, 0.2);
  }